<% if @status.errors.any? %>

  <h2><%= pluralize(@status.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% @status.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @status do |f| %>

<%= f.label :status %>
<%= f.text_field :status %>

<%= f.label :user %>
<%= f.text_field :user %>

<%= f.submit %>

<% end %>
