<% @statuses.each do |status| %>
  <p>
  <%= status.status %>
    <%= status.user %>
    <%= button_to "like", like_path(:id => status.id), method: :get %>
    <%= status.likes %>
    <%= link_to 'Edit', status_path(status) %>
    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
